.discount__container {
    margin: 25% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%);;
}

.discount__container p {
    font-weight: 700;
    font-size: 24px;
    color: #1A1A1A;
    background: transparent;
}

.discount__star {
    background: transparent;
}
